{% load static %}
    <script src="{% static 'funciones.js' %}"></script>
    <!-- INICIO HEADER -->
    <header>
        <div class="header-izquierda">
            <img class="logo" src="{% static 'header/logo.png' %}" alt="logo">
        </div>
        <div class="header-derecha">
            <div class="divisa">
                <button id="currencyButton" onclick="showModalDivisa()">CLP | Peso Chileno</button>
            </div>
            <div class="cuenta">
                {% if user.is_authenticated %}
                    <div class="contenedor-cerrar-sesion-final">
                        <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><i class="fa-solid fa-right-from-bracket"></i> {{user.username}}</button>
                        </form>
                    </div>
                {% else %}
                    <button onclick="showModalCuenta()"><i class="fa-solid fa-user"></i> Mi cuenta</button>
                {% endif %}
            </div>
            <div class="carrito">
                <a class="carrito-a" href="#" onclick="showModalCarrito()"><i class="fa-solid fa-cart-shopping"></i> ({{ request.session.carrito|length}})</a>
            </div>
        </div>
    </header>