{% load static %}
<!DOCTYPE html>
<html lang="es">

{% include 'plantillas-html/head.html' %}

<body>
    {% include 'plantillas-html/header.html' %}
    {% include 'plantillas-html/nav.html' %}
    <!-- INICIO MAIN -->
    <main>
        <div class="separador-nombre">
            <div class="contenedor-titulo">
                <h1>REGISTRARSE</h1>
            </div>
        </div>
        <form method="post" class="registro-supremo" action="{% url 'registrarse' %}">
            <div class="contenedor-registro-arriba">
                <div class="registro-izquierda">
                    {% csrf_token %}
                    <!-- USUARIO * -->
                    <div class="datos-obligatorios">
                        <h1>Usuario</h1>
                        <h2>*</h2>
                    </div>
                    <!-- INPUT -->
                    <div class="input-datos-registro">
                        {{form.username}}
                    </div>
                    <!-- ERROR -->
                    <div class="parrafo-error">
                        <p class="texto-error" id="error-user">El usuario no puede estar vacío</p>
                    </div>
                    <!-- CORREO -->
                    <div class="datos-obligatorios">
                        <h1>Correo</h1>
                        <h2>*</h2>
                    </div>
                    <!-- INPUT -->
                    <div class="input-datos-registro">
                        {{form.email}}
                    </div>
                    <!-- ERROR -->
                    <div class="parrafo-error">
                        <p class="texto-error" id="error-correoRegistro">El correo no puede estar vacío</p>
                    </div>
                    <!-- CONTRASEÑA * -->
                    <div class="datos-obligatorios">
                        <h1>Contraseña</h1>
                        <h2>*</h2>
                    </div>
                    <!-- INPUT -->
                    <div class="input-datos-registro">
                        {{form.password1}}
                    </div>
                    <!-- ERROR -->
                    <div class="parrafo-error">
                        <p class="texto-error" id="error-1-passwordRegistro">La contraseña debe tener minimo 7 digitos</p>
                        <p class="texto-error" id="error-2-passwordRegistro">La contraseña debe tener una mayúscula</p>
                        <p class="texto-error" id="error-3-passwordRegistro">La contraseña debe tener al menos un numero</p>
                    </div>
                    <!-- CONFIRMAR CONTRASEÑA * -->
                    <div class="datos-obligatorios">
                        <h1>Confirmar contraseña</h1>
                        <h2>*</h2>
                    </div>
                    <!-- INPUT -->
                    <div class="input-datos-registro">
                        {{ form.password2}}
                    </div>
                    <!-- ERROR -->
                    <div class="parrafo-error">
                        <p class="texto-error" id="error-confirmarPasswordRegistro">Confirmar contraseña tiene que ser igual a la contraseña</p>
                    </div>
                </div>
                <div class="registro-derecha">
                    <!-- GENERO -->
                    <div class="datos-obligatorios">
                        <h1>Genero</h1>
                    </div>
                    <!-- SELECT -->
                    <div class="select-datos-registro">
                        <select>
                            <option value="1">Prefiero no decirlo</option>
                            <option value="2">Mujer</option>
                            <option value="3">Macho alfa</option>
                        </select>
                    </div>
                    <!-- FECHA NACIMIENTO * -->
                    <div class="datos-obligatorios">
                        <h1>Fecha de nacimiento</h1>
                        <h2>*</h2>
                    </div>
                    <!-- INPUT -->
                    <div class="input-datos-registro">
                        {{ form.nacimiento}}
                    </div>
                    <!-- ERROR -->
                    <div class="parrafo-error">
                        <p class="texto-error" id="error-nacimientoRegistro">Debe ser mayor de 17 años</p>
                    </div>
                </div>
            </div>
            <div class="contenedor-registro-abajo">
                <button type="submit">Registrarme</button>
            </div>
        </form>
    </main>
    {% include 'plantillas-html/footer.html' %}
</body>
    {% include 'plantillas-html/modal.html' %}
</html>