{% load static %}
<!DOCTYPE html>
<html lang="es">

{% include 'plantillas-html/head.html' %}

<body onload="getOfertas(); getPopular()">
    {% include 'plantillas-html/header.html' %}
    {% include 'plantillas-html/nav.html' %}
    <!-- INICIO BARRA NAV -->
    <nav>
        <div class="nav-izquierda">
            <a href="index.html"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="nav-derecha">
            <a href="retornables.html">RETORNABLES</a>
            <a href="bebidas.html">BEBIDAS</a>
            <a href="agua-jugos.html">AGUAS Y JUGOS</a>
            <a href="cervezas.html">CERVEZAS</a>
            <a href="licores.html">LICORES</a>
            <a href="vinos.html">VINOS</a>
            <a href="espumantes.html">ESPUMANTES</a>
            <a href="merchandising.html">MERCHANDISING</a>
        </div>
    </nav>
    <!-- INICIO MAIN -->
    <main>
        <div class="separador-nombre">
            <div class="contenedor-titulo">
                <h1></h1>
            </div>
        </div>
    </main>
    {% include 'plantillas-html/footer.html' %}
</body>
    {% include 'plantillas-html/modal.html' %}
</html>