{% load static %}
<!DOCTYPE html>
<html lang="es">

{% include 'plantillas-html/head.html' %}

<body onload="getOfertas(); getPopular()">
    {% include 'plantillas-html/header.html' %}
    {% include 'plantillas-html/nav.html' %}
    <!-- INICIO MAIN -->
    <main>
        <div class="separador-nombre">
            <div class="contenedor-titulo">
                <h1></h1>
            </div>
        </div>
    </main>
    {% include 'plantillas-html/footer.html' %}
</body>
    {% include 'plantillas-html/modal.html' %}
</html>